<h1>New Task</h1>

<%= form_with model: @task, url: tasks_path do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :details %>
    <%= form.text_area :details %>
  </div>

  <div>
    <%= form.check_box :completed %>
    <%= form.label :completed %>
  </div>

  <div>
    <%= form.submit %>
  </div>
  <%# <%= render 'form', task: @task, url: tasks_path, method: :post, new_task: true %>
<% end %>
